.table-container {
  margin-top: 20px;
}

button mat-icon {
  margin-right: 8px;
}

// Estilos para a linha da tabela quando o produto está inativo
.inactive-row {
  background-color: #fafafa;
  td {
    color: #9e9e9e;
    text-decoration: line-through;
  }
}

// Estilos para o "chip" de status
.status-chip {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.status-active {
  background-color: #4CAF50; // Verde
}

.status-inactive {
  background-color: #f44336; // Vermelho
  text-decoration: none !important; // Evita que o texto do chip seja riscado
}
