:host {
  .status-chip {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
    color: white;
  }

  .status-active {
    background-color: #4caf50; /* Verde */
  }

  .status-inactive {
    background-color: #f44336; /* Vermelho */
    text-decoration: none !important;
  }

  .mat-column-actions {
    width: 180px;
    text-align: right;
    padding-right: 16px;
  }

  .product-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
