.spacer {
    flex: 1 1 auto;
  }
  .content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

.secondary-toolbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: auto;
  padding: 0;
  
  ::ng-deep .category-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .mat-nav-list {
      display: flex;
      padding: 0;
    }
    
    .mat-list-item {
      width: auto;
      margin: 0 16px;
    }
  }
}

mat-sidenav-container {
  margin-top: 8px;
}