<form [formGroup]="form" (ngSubmit)="onSave()">
  <h1 mat-dialog-title>{{ isEdit ? 'Editar Produto' : 'Adicionar Produto' }}</h1>
  <mat-dialog-content class="mat-typography">
    <div class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Produto</mat-label>
        <mat-select formControlName="productType" required>
          @for (type of productTypes; track trackByType($index, type)) {
          <mat-option [value]="type">
            {{ type }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoryId" required>
          @for (category of categories$ | async; track trackByCategory($index, category)) {
          <mat-option [value]="category.id">
            {{ category.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Nome do Produto</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>SKU</mat-label>
        <input matInput formControlName="sku" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Unidade de Medida</mat-label>
        <input matInput formControlName="unitOfMeasure" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Preço de Venda</mat-label>
        <input matInput formControlName="salePrice" type="number">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Custo Médio</mat-label>
        <input matInput type="number" formControlName="averageCost" required>
      </mat-form-field>

      @if (form.get('productType')?.value === productTypeEnum.FabricoProprio) {
      <div>
        <h3 mat-dialog-title>Ficha Técnica (Lista de Materiais)</h3>
        <div formArrayName="bom">
          @for (bomItem of bom.controls; track trackByBomItem($index); let i = $index) {
          <div [formGroupName]="i" class="bom-item-row">
            <mat-form-field appearance="fill">
              <mat-label>Matéria-Prima</mat-label>
              <mat-select formControlName="productId">
                @for (material of rawMaterials$ | async; track trackByProduct($index, material)) {
                <mat-option [value]="material.id">
                  {{ material.name }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Quantidade</mat-label>
              <input matInput type="number" formControlName="quantity" min="0.001">
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="removeBomItem(i)" type="button">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
          }
        </div>
        <button mat-stroked-button color="primary" (click)="addBomItem()" type="button">
          <mat-icon>add</mat-icon> Adicionar Matéria-Prima
        </button>
      </div>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
  </mat-dialog-actions>
</form>