<mat-card class="product-card">
  @if (product.thumbnail) {
    <img mat-card-image [src]="product.thumbnail" [alt]="product.title">
  }
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/product', product.handle]">
        {{ product.title }}
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ product.description }}</p>
    {{ currencyService.currencies() | json}}
    @if (getLowestPrice() !== null) {
      @if (getLowestPrice() === getHighestPrice()) {
        <p class="price">{{ getLowestPrice() | currency: currencyService.currentCurrency()?.code }}</p>
      } @else {
        <p class="price">{{ getLowestPrice() }} - {{ getHighestPrice() }}</p>
      }
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary" [routerLink]="['/product', product.handle]">Details</button>
    <button mat-raised-button color="primary">
      <mat-icon>add_shopping_cart</mat-icon>
      Add to Cart
    </button>
  </mat-card-actions>
</mat-card>
