<mat-card>
  <mat-card-header>
    <mat-card-title>Pedidos de Venda</mat-card-title>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" [routerLink]="['/sales-orders/new']">
      <mat-icon>add</mat-icon>
      Novo Pedido
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="salesOrders$" class="full-width-table">
        <!-- Coluna Data de Emissão -->
        <ng-container matColumnDef="emissionDate">
          <th mat-header-cell *matHeaderCellDef>Data de Emissão</th>
          <td mat-cell *matCellDef="let order">{{ order.emissionDate.toDate() | date:'dd/MM/yyyy' }}</td>
        </ng-container>

        <!-- Coluna Número -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Nº Pedido</th>
          <td mat-cell *matCellDef="let order">{{ order.code }}</td>
        </ng-container>

        <!-- Coluna Cliente -->
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let order">{{ order.customerName }}</td>
        </ng-container>

        <!-- Coluna Valor Total -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Valor Total</th>
          <td mat-cell *matCellDef="let order">{{ order.total | currency:'EUR' }}</td>
        </ng-container>

        <!-- Coluna Status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let order">
            <span class="status-chip" [ngClass]="'status-' + order.status.toLowerCase()">
              {{ order.status | titlecase }}
            </span>
          </td>
        </ng-container>

        <!-- Coluna Ações -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let order">
            <button mat-icon-button color="primary" [routerLink]="['/sales-orders', order.id]" matTooltip="Ver Detalhes">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let order; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell table-empty-row" [attr.colspan]="displayedColumns.length" align="center">Nenhum pedido de venda encontrado.</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
