.container {
  padding: 24px;
}

.form-container {
  margin-top: 16px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
}

.header-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.table-container {
  width: 100%;
  margin-bottom: 1rem;
}

.item-form-field {
  width: 100%;
  // Remove o espaço extra abaixo do form-field dentro da tabela
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.add-item-button {
  margin-top: 1rem;
} 