/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './styles/_theme-colors.scss' as custom-theme;

@forward "./styles/_definitions";

// Include the common styles for Angular Material
@include mat.core();

// Use pre-built palettes
// $custom-primary: mat.define-palette(custom-theme.$primary-palette);
// $custom-accent: mat.define-palette(custom-theme.$secondary-palette);

html {
  @include mat.theme((
    color: custom-theme.$primary-palette,
    typography: Roboto,
    density: -2,
  ));
}

// Global styles
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

