:root {
  --viewport-max-width: 1300px;
  --viewport-content-margin: 0 1rem;
  --viewport-toolbar-height: 10rem;
  --main-search-border-radius: 1rem;
  --main-search-border-color: var(--mat-divider-color);
}
