
.toolbar {
  display: grid;
  grid-template-areas: "logo search-field search-field session-options"
                        "nav nav nav nav";
  grid-template-rows: 1.5fr 1fr;
  justify-self: center;
  margin: var(--viewport-content-margin);
  height: fit-content;
  max-width: var(--viewport-max-width);

  a {
    grid-area: logo;
    display: flex;
    width: fit-content;
    text-decoration: none;
    font: var(--mat-sys-headline-large);
    color: inherit;
    position: sticky;
    top: 0;
  }

  .main-search-field {
    grid-area: search-field;
    width: 100%;
    height: var(--mat-sys-headline-medium-line-height);
    border-radius: var(--main-search-border-radius);
    padding: 0 var(--main-search-border-radius);
    border: 1px solid var(--main-search-border-color);
    box-shadow: var(--mat-sys-level1);
  }

  .session-options {
    grid-area: session-options;
    justify-self: end;
    position: sticky;
    top: 0;
  }

  .main-navigation {
    grid-area: nav;
  }
}

.content {
  margin: 0 auto;
  max-width: var(--viewport-max-width);
}

mat-sidenav-container {
  margin-top: 8px;
}

.spacer {
  flex: 1 1 auto;
}


