/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./styles/_theme-colors" as primary-colors;
@use "./styles/page-list.scss";

html {
  color-scheme: light dark;
  @include primary-colors.high-contrast-overrides(color-scheme);
  @include mat.theme(
    (
      color: primary-colors.$primary-palette,
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}

html,
body {
  margin: 0;
  height: 100%;
}

:root {
  --mat-dialog-with-actions-content-padding: 16px;
}

.mat-mdc-form-field {
  margin: 8px;
}
