/* You can add globl styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./styles/_theme-colors" as primary-colors;
@use "./styles/page-list";

@import "./styles/tailwind.css";
// Include the common styles for Angular Material
//@include mat.core();

// Create the theme object
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: primary-colors.$primary-palette,
      tertiary: primary-colors.$primary-palette,
      use-system-variables: true,
    ),
    typography: (
      brand-family: "Roboto",
      //plain-family: '"Helvetica Neue", sans-serif',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    ),
    density: (
      scale: -1,
    ),
  )
);

// Apply the theme to all Angular Material components

html,
body {
  margin: 0;
  height: 100%;
  color-scheme: light dark;
}

html {
  @include mat.all-component-themes($theme);
  @include primary-colors.high-contrast-overrides(color-scheme);
  @include mat.typography-hierarchy($theme);
}

:root {
  --mat-dialog-with-actions-content-padding: 16px;
}

.mat-mdc-form-field,
.ng-select {
  margin: 8px;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: rgb(0 0 0 / 22%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}
