<div class="container">
  <div class="page-header">
    <h1>Contas a Receber</h1>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="accounts$" class="full-width-table">
      <!-- Due Date Column -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Vencimento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dueDate.toDate() | date: 'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <!-- Customer Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalAmount | currency: 'EUR' }}
        </td>
      </ng-container>

      <!-- Reference Column -->
      <ng-container matColumnDef="salesOrderCode">
        <th mat-header-cell *matHeaderCellDef>Referência</th>
        <td mat-cell *matCellDef="let element">{{ element.salesOrderCode }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [checked]="element.status === 'Liquidada'" (change)="togglePayment(element)">
            {{ element.status }}
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell table-empty-row" [attr.colspan]="displayedColumns.length" align="center">Nenhuma conta a
          receber encontrada.</td>
      </tr>
    </table>
  </div>
</div>