<div class="container">
  <h1>Nova Ordem de Produção</h1>

  <form [formGroup]="form" (ngSubmit)="onSave()" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Produto a Produzir</mat-label>
      <mat-select formControlName="product" required>
        @for (p of productsToProduce$ | async; track p) {
          <mat-option [value]="p">
            {{ p.name }} ({{ p.sku }})
          </mat-option>
        }
      </mat-select>
      @if (form.get('product')?.hasError('required')) {
        <mat-error>
          O produto é obrigatório.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantidade a Produzir</mat-label>
      <input matInput type="number" formControlName="quantityToProduce" required min="1">
      @if (form.get('quantityToProduce')?.hasError('required')) {
        <mat-error>
          A quantidade é obrigatória.
        </mat-error>
      }
      @if (form.get('quantityToProduce')?.hasError('min')) {
        <mat-error>
          A quantidade deve ser no mínimo 1.
        </mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button type="button" mat-stroked-button (click)="goBack()">
        Cancelar
      </button>
      <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">
        Criar Ordem
      </button>
    </div>
  </form>
</div>
