.container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

table {
  width: 100%;
}

.mat-column-actions {
  text-align: right;
  width: 120px;
}
