@if (currencyService.currentCurrency()) {
    <mat-form-field class="currency-select">
        <mat-select [value]="currencyService.currentCurrency()?.code" (selectionChange)="changeCurrency($event)">
            @for (currency of currencyService.currencies(); track currency.code) {
            <mat-option [value]="currency.code">
                {{currency.code}} ({{currency.symbol}})
                @if (currency.name) {
                - {{currency.name}}
                }
            </mat-option>
            }
        </mat-select>
    </mat-form-field>
}