:host {
  .form-grid,
  .address-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 16px;
    margin-bottom: 10px;
  }

  .name-field {
    grid-column: 1 / 4;
  }

  .document-field {
    grid-column: 4 / 5;
  }

  .first-half-row {
    grid-column: 1 / 3;
  }

  .second-half-row {
    grid-column: 3 / 5;
  }

  .address-grid {
    grid-column: 1 / 5;
  }

  .street-field {
    grid-column: 1 / 4;
  }

  .number-field {
    grid-column: 4 / 5;
  }
}
